.nav {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  position: fixed;
  background: #333333;
  transition: 0.5s;
  margin-left: 100%;
  ul {
    li {
      text-align: center;
      line-height: 2;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      list-style: none;
      font-weight: bold;
      &:hover {
        color: red;
        @include transition($t);
      }
    }
  }
}
.act_nav {
  margin-left: 0;
}
